name: Deploy via ftp
on: workflow_dispatch
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Upload ftp
      uses: sebastianpopp/ftp-action@releases/v2
      with:
        host: docs.leantime.io
        user: ${{ secrets.FTPUSER }}
        password: ${{ secrets.FTPPASS }}
        localDir: "."
        remoteDir: "."
        options: "--delete --asci"
